
@{
    ViewBag.Title = "Java";
}

<h2>Java</h2>

@using (Html.BeginForm())
{
    <input type="text" name="userName"/>
    <input type="text" name="password"/>
    <input id="test" type="submit" value="Create" class="btn btn-default" />
}
@section Scripts {
    <script>
        $('#test').submit(function (e) {
            var $form = $(this);
            $.ajax({
                type: POST,
                url:"http://localhost:8081/account",
                data: $form.serialize()
        }).done(function (data) {
            var t=data;
            }).fail(function () {
                console.log('fail');

            });
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
        });
    </script>
}
 