@model IEnumerable<DiplomWeb.Models.ProjectInfo>
@using DiplomWeb.Models
@{
    ViewBag.Title = "Проекты";
}

<h2>Проекты</h2>

<dib>
    <ul>
        @foreach (ProjectInfo item in Model)
        {
           
            <li>@Html.RouteLink(item.Name, "Project", new { id = item.Id }) </li>
        }
    </ul>
</dib>